.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  // height: 30px;
  padding: 10px;
  box-shadow: 10px 10px 10px grey;
  margin-bottom: 1.5rem;
  .singoutBtn {
    margin-right: 20px;
  }
}
